# Dependencies
node_modules/

# Build output
dist/

# Rider files
.idea/

# Mac files
.DS_Store

# Env files
.env
.env.*
!.env.example

# SQLite database files
*.db
*.db-shm
*.db-wal

**/.env.production
